<footer class="site-footer">

  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h2 class="site-title">
          <span class="site-title-git">git</span>
          <i class="fa fa-bolt"></i>
          <span class="site-title-rocks">ROCKS</span>
        </h2>
        <div>
          <p class="text">{{ site.description }}</p>
        </div>
        <div>
          <iframe src="https://ghbtns.com/github-btn.html?user=vlamanna&repo=git-rocks&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </div>
        <div>
          <iframe src="https://ghbtns.com/github-btn.html?user=vlamanna&repo=git-rocks&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </div>
        <div>
          <a href="https://twitter.com/git_rocks" class="twitter-follow-button" data-show-count="true">Follow @git_rocks</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-social">
          <div>
            <i class="fa fa-envelope"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </div>
          {% if site.github_username %}
            <div>
              <i class="fa fa-github"></i> <a href="https://github.com/{{ site.github_username }}">
                <span class="username">{{ site.github_username }}</span>
              </a>
            </div>
          {% endif %}
          {% if site.twitter_username %}
            <div>
              <i class="fa fa-twitter"></i> <a href="https://twitter.com/{{ site.twitter_username }}">
                <span class="username">@{{ site.twitter_username }}</span>
              </a>
            </div>
          {% endif %}
        </div>
    </div>

  </div>

</footer>
