<nav class="navbar navbar-inverse navbar-fixed-top site-header">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#git-rocks-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand site-title" href="{{ site.baseurl }}/">
            <span class="site-title-git">git</span>
            <i class="fa fa-bolt"></i>
            <span class="site-title-rocks">ROCKS</span>
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="git-rocks-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/">Home</a> <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ site.baseurl }}/support">Premium Support</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutorials <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}getting-started">Getting started</a></li>
            <li><a href="{{ site.baseurl }}basics">The basics</a></li>
            <li><a href="{{ site.baseurl }}advanced">Getting more serious</a></li>
            <li><a href="{{ site.baseurl }}branches">Working with branches</a></li>
            <li><a href="{{ site.baseurl }}releases">Managing your releases</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>