.provider-content {
	text-align:center;
}

.provider-logo {
	width:200px;
	height:200px;
}

.img-github {
	padding-top:17px;
}

.img-bitbucket {
	padding-top:78px;
}

.book-content {
	text-align:center;
}

.book-logo {
	width:200px;
	height:200px;
	padding-top:20px;
}