.index-provider {
	background-color: #555;
	margin-top:20px;
	padding-bottom:10px;
	color: #efefef;

	a {
		color: #fff;
	}	
}

.provider-content {
	text-align:center;
}

.provider-logo {
	width:200px;
	height:200px;
}

.img-github {
	padding-top:17px;
	padding-bottom:17px;
}

.img-bitbucket {
	padding-top:78px;
	padding-bottom:78px;
}

.book-content {
	text-align:center;
}

.book-logo {
	width:200px;
	height:200px;
	padding-top:20px;
}

.img-codecommit {
	width:165px;
}

.jumbotron {
	background: url("/assets/images/gitrocks.jpg") no-repeat center center fixed;
	background-color: #eee;
	background-size: cover;

	h1 {
		color: #fff;
	}

	h2 {
		small {
			color: #eee;
		}
	}
}