---
layout: default
---

<div class="tutorial-header">
	<div class="container">
		<h1>{{ page.headline }}</h1>
		<h2><small>{{ page.excerpt }}</small></h2>
	</div>
</div>

<div class="container">
	<div id="gitrocks"></div>
</div>

<div class="container">
	<div id="gitrocks-next" class="gitrocks-next hide">
		<a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/{{ page.next }}" role="button">Continue to next tutorial</a>
	</div>
</div>

<br>

<div class="container">
	<div class="tutorial-ads">
		<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=or01-20&o=1&p=13&l=ez&f=ifr&f=ifr&linkID=JUSBS4VFWBPUEUO7" width="468" height="60" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;"></iframe>
	</div>

	{{ content }}
</div>